<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>

    <div layout:fragment="content">

        <script>
            function showPassword() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>

        <div class="card">
            <div class="card-header card-title text-center">
                <strong>Bejelentkezés</strong>
            </div>
            <div class="card-body">
                <form method="post" th:action="@{/auth}">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email-cím: </label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Jelszó: </label>
                        <div class="input-group">
                            <input type="password" id="password" class="form-control" name="password" required>
                            <button type="button" class="btn btn-light" onclick="showPassword()">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                        </div>
                    </div>

                    <div class="checkbox text-center mb-3">
                        <input type="checkbox" name="remember_me">
                        <label for="remember_me">Emlékezz rám</label>
                        <br>
                        <a href="/forgetPassword">Elfelejtette a jelszavát?</a>
                    </div>
                    <div class="text-center">
                        <input class="btn btn-lg btn-dark" type="submit">Bejelentkezés</button>
                    </div>
                </form>
                <div th:if="${param.error}">
                    Érvénytelen bejelentkezési adatok!
                </div>
            </div>
        </div>

    </div>

</body>

</html>